{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center mt-4 mb-3"><b class="text-light">About</b><b> Us</b><i class="fa fa-user-circle fs-2 ms-2"></i></h2>
<div style="height:1px; background:white;" class="mb-3"></div>
<div style="margin-left:20px; margin-right:20px; margin-bottom:50px; margin-top:35px;">
<h3>Introduction</h3>
<p>A college campus recruitment system that consists of student login,company login and an admin login.The project
    is beneficial for college students,various companies visiting the campus for recruitment and even the college
    placement officer.The software system allows the student to create their profile and upload all theirdetails
    including their marks into the system.The admin can check each student details and can remove faulty accounts.
    The system also consist of a company login where various companies visiting the college can view a list of
    students in that college and also their respective resumes.The software system allows student to view a list of
    companies who have posted for vacancy.The admin has overall right over the system and can moderate and delete
   any details not pertainig to college placement rules.
    The system handles student as well as company data and
    efficiently displays all data to respective sides.</p>
<h3>Objective</h3>
<ol>
    <li> Reduce the paper work and create database of student</li>
    <li> Save time & work load for TCP</li>
    <li> To increase the accuracy and efficiency of placement procedure</li>
    <li> Management of student data</li>
    <li> Analysis of overall placement</li>
</ol>
</div>
{% endblock %}