{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 style="text-align:center; margin-top:25px; margin-bottom:20px;"><b>Privacy </b> <b style="color:white">Policy</b></h3>
<div style="height:2px; background:white;"></div>
<h5 style="margin-left:25px; margin-right:25px; margin-top:20px;">Privacy Policy</h5>
<p style="margin-left:25px; margin-right:25px;">
This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally Identifiable Information’ (PII)
    is being used online. PII, as described in Indian privacy law and information security, is information that can be used on its own or
    with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy
    policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information
    in accordance with our website.<br/>

What personal information do we collect from the people that visit our blog, website or app?<br/>
When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address,
    phone number, location, interest or other details to help you with your experience.<br/>

When do we collect information?<br/>
We collect information from you when you register on our site, place an order, subscribe to a newsletter,
    fill out a form, Use Live Chat or enter information on our site.<br/><br/>

    <b>How do we use your information?</b><br/>
We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey
    or marketing communication, surf the website, or use certain other site features in the following ways:<br/>
1. To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
<br/>2. To allow us to better service you in responding to your customer service requests.
<br/>3. To quickly process your transactions.To ask for ratings and reviews of services or products.
<br/>4. To follow up with them after correspondence (live chat, email or phone inquiries)</p>
<p style="margin-left:25px; margin-right:25px;">
<br/>How do we protect your information?
Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.
We use regular Malware Scanning. Your personal information is contained in secured networks and is only accessible by a limited number of persons
who have special access rights to such systems, and are required to keep the information confidential. In addition, all
sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology. We implement a variety of security measures
when a user places an order to maintain the safety of your personal information. All transactions are processed through a gateway provider and
are not stored or processed on our servers.<br/>

<br/><b>CAN-SPAM Act</b>
<br/>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.

We collect your email address in order to:
<br/>1. Process orders and to send information and updates pertaining to orders.
<br/>2. Send you additional information related to your product and/or service.<br/>

<br/><b>To be in accordance with CAN-SPAM, we agree to the following:</b><br/>
1. Not use false or misleading subjects or email addresses.<br/>
2. Identify the message as an advertisement in some reasonable way.<br/>
3. Include the physical address of our business or site headquarters.<br/>
4. Monitor third-party email marketing services for compliance, if one is used.<br/>
5. Honor opt-out/unsubscribe requests quickly.<br/>
6. Allow users to unsubscribe by using the link at the bottom of each email.<br/>
If at any time you would like to unsubscribe from receiving future emails, you can email us at and we will promptly remove you from ALL correspondence.
</p><br/><br/>
</body>
</html>
{% endblock %}