{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 style="text-align:center; margin-top:25px; margin-bottom:20px;"><b>Term &</b> <b style="color:white">Condition</b></h3>
<div style="height:2px; background:white;"></div>
<h5 style="margin-left:25px; margin-right:25px; margin-top:20px;">ELIGIBILITY & REGISTRATION</h5>
<p style="margin-left:25px; margin-right:25px;">
1. All students who will be graduating from SRES  Sanjivani College of Engineering, Kopargaon by the end of academic year and are seeking employment must register for campus placements with T&P office.
2. Only registered students will get placement facility.<br/>
3. Registration for B.E, M.B.A & M.E. will be done in the month of June. The Registration form may be downloaded from the Placement page of the Institute website.
<br/>4. Campus placement is a facility provided for the students of Sanjivani College of Engineering, Kopargaon. Registration is compulsory for all students of final year.
<br/>4. Refundable T & P deposit of Rs. 5000/- is compulsory for all B.E students. It is to be noted that in case of violations of placement norms of T&P Office, part or full amount will be confiscated.
<br/>5. Students are required to express their willingness in writing for appearing in the campus recruitment process. If a student does not appear in any company even after expressing willingness in writing, he / she will be disallowed from the placements for the rest of the academic year.
<br/>6. A penalty of Rs. 500/- will be imposed on students if they do not attend pool campus after giving consent.
<br/>7. If a student accepts a company offer and does not join the firm later, the deposit of 5000/- will be confiscated.
<br/>8. Students will not be allowed for Placement drive if they are involved in any undisciplined activities at any stage of the academic year</p>
<p>
<h5 style="margin-left:25px; margin-right:25px;">RESUME</h5>
<p style="margin-left:25px; margin-right:25px;">
1. Students are informed to submit their resumes to the respective T&P coordinators as and when they are asked to submit.
If they fail to submit during that period, strict action will be taken against those students.
<br/>2. The details  in the resume have to be genuine and any student found violating this rule will be disallowed
from the placements for the rest of the academic year and it may be referred to Institute Disciplinary Committee for further action.</p>
<h5 style="margin-left:25px; margin-right:25px;">JOB OFFERS</h5>
<p style="margin-left:25px; margin-right:25px;">
1. A copy of the offer letter is required to be submitted in the placement office along with 2 passport size photos.

<br/>2. In the entire process the student can accept  one offer only after which he/she will be automatically removed from the placement process.

<br/>a) If a student receives more than one offer owing to delays in the announcements of results by the companies, the student is bound
    to accept the job offer whose   results are declared earlier.

<br/>b) If the results are declared on the same day, the student may choose from the offers in hand and inform the placement office
    of his choice, within 24 hrs of     announcement of results</p>
<h5 style="margin-left:25px; margin-right:25px;">Training Rules and Regulations</h5>
<p style="margin-left:25px; margin-right:25px;">
1.COMMUNICATION SKILLS AND PERSONALITY DEVELOPMENT<br/>

1.1. Pre-final year / Final year students are required to participate in Workshops / Training Programs organized by Training
    & Placement Cell compulsorily. It is the responsibility of the student to check announcements/notices/ updated information
    on the notice boards of Training & Placement Cell. Student may be disallowed for campus placement process for not attending
    the Workshops / Training Program.<br/>
1.2 Student-Clubs are encouraged for conducting the same types of programs under student activity scheme
    of SRES College of Engineering, Kopargaon.<br/>
    1.3 Training fees will be deducted from T&P deposit.</p>

<h5 style="margin-left:25px; margin-right:25px;">VOCATIONAL TRAINING</h5>
<p style="margin-left:25px; margin-right:25px;">
Pre-final year students (T.E.) should compulsorily participate in Industrial Training at different organizations through Training
& Placement Cell</p><br/><br/>
</body>
</html>
{% endblock %}